*{
color: #FFFFFF;
}
.page_background{
    background-image: url(https://pp.vk.me/c638028/v638028424/11f23/_UxsCRvxUS0.jpg);
    background-color: #99badc;
}
.menu{
background: rgba(255, 255, 255, 0.56);
}
#my_back_line{
background-color: rgba(36, 90, 134, 0.79);
}
.b{
background-color: rgba(40, 62, 90, 0.7);
}
.b:hover{
background-color: #909CAB;
}
.b:active{
background-color: #25374E;
}
.body{
    background-color: rgba(82, 128, 168, 0.4);
}
.block{
background-color: rgb(12, 104, 178);
color: #EEEEEE;
}
.chat::-webkit-scrollbar-thumb,.menu::-webkit-scrollbar-thumb{
background-color: black;
}
.inlb{
color: white;
}
.inp{
color: #333;
}
.menu_lines{
background: #D7D7D7;
}
.l{
color: #D8D8D8;
}
.lright .block{
background-color: rgb(0, 141, 139);
}
.profile_line{
background-color: rgba(20, 44, 77, 0.5);
}
.menu_a{
color: #e4e4e4;
}
.back_line{
background-color: rgba(48, 96, 134, 0.62);
}
.here{
background-color: #CBCBCB;
color: #0D4483;
}
.who_typing{
background: white;
}

.m_unread{
    background: #CDD9DA;
    border: 1px solid #37323B;
}