<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes">
<title>MEXY.PRO</title>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
</head>
<body style="text-align: center;">
<style>
*{
font-size: 18px;
font-family: 'Open Sans',sans-serif;
}
</style>
<h1 style="font-size: 24px;">Verify your MEXY.PRO account</h1><br>
<p>Please click the link below to activate your account:</p>
<div><a href="<%=host%>https://mexy.pro/verify/<%=email;%>/<%=key;%>" style="color: #0099cc;">verify this email</a></div>
<br><br>
</body>
</html>